@import url('https://fonts.googleapis.com/css?family=Vidalokat');
body{
	background:#ececec;
	font-family: 'Vidaloka', serif;
    line-height:2em;
    overflow-x: hidden;
}
.fuild-container{
    width: 100%;
}
.w-80{
    width: 80%;
}
header{
    background:#082592;
    color: white;
    border-top: 3px saddlebrown;
}
header .container{
    width: 100% !important;
}
header h1{
    font-size: 180%;
}
.nav-scroller .nav-links {
    flex-basis: 10%;
    background: white;
}
.bg-control{
    background: #111;
    opacity: 0.2;
  }
.bg-white{
    background: white;
}
#second-section{
    background: #cce5e6;
}
.second-box-section ul,.second-box-section .btn-link{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#second-box-section-tab li{
    flex:2;
}
  @media (max-width:750px){
      .second-box-section{
        flex: 1 0 100%;
    max-width: 100%;

      }
  }