main{
    margin-top: 80px;
    .main-box-section{
        border: 1px solid#cef1ce;
    }
}
.section-header{
    @include textprop(24px,$link-color);
}
#digiCarousel{
    .carousel-caption{
        background: lightgrey;
        color:#111;
        opacity: 0.8;
    }
}
.readMoreLink{
    @include textprop(16px,$link-color);
    text-decoration: none;
    float: right;
}
.second-box-section{
    @include flexScreen(49.8%);
    border-radius: $border-radius;
     ul{
         @include textprop(16px,$link-color);
    }
    .btn-link{
        @include textprop(16px,$link-color);
    }
}
.ideas-box-section,.bottom-box-section{
    border: 1px solid lightseagreen;
}
.blockquote-footer{
    color:#111;
}
#second-box-section-tab li{
    @include flexScreen(50%);
}
.ideas-box-section,.bottom-box-section{
     h3{
         @include textprop(20px, #0070c9);
    }
    img{
        padding: 5px;
        border-radius: $border-radius;
    }
}
.footer-box-section,.ideas-box-section{
    @include flexScreen(33.2%);
    border-radius:$border-radius;
    background: $white;
}

/* media query for bleo 900 px*/
@media (max-width:1200px) {
    .quates-box-section,.ideas-box-section{
        @include flexScreen(33.3%);
    }
}
  @media (max-width:900px){
    .second-box-section, .footer-box-section{
        @include flexScreen(100%);
    }
    .footer-section{
        @include flexDirection(column !important);
    }
}
/* media query for bleo 580 px*/
@media (max-width:580px){
    .bottom-box-section,.quates-box-section,.ideas-box-section{
        @include flexScreen(100%);
    }
  }