#main-navbar{
    background: #2974ce;
   .nav-item {
        @include flexScreen(42%);
        border-right: 1px solid $white;
        @include textprop(16px,$link-color);
        a{
            color:$link-color;
        }
    }
    .nav-item:last-child{
        border:0;
    }
}
.social-link li{
    display: inline-block;
    width: 37px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 4px;
    @include textprop(20px, $white);
}

.social-link li:nth-child(1){
    background: #3b5998 ;
    }
    .social-link li:nth-child(2){ 
        background: #00aced ;
    }
    .social-link li:nth-child(3){
        background: #bb0000   ;
    }
    .social-link li:nth-child(4){
        background: #007bb6 ;
    }
    .social-link li:nth-child(5){ 
        background: #cb2027 ;
    }
    