/* font -awesome*/
$fa-font-path:"../webfonts";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fa-solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fa-brands";
/* bootsrap 4 start from here*/
$body-bg:#ececec !default;
$white:#fff;
$font-weight:bold;
$text-align:center;
$link-color:#721c24;
@mixin flexScreen($input) {
    flex:1 0 $input !important;
    max-width: $input;
}
@mixin textprop($fontSize,$fontColor) {
    text-align: $text-align;
    font-weight:  $font-weight;
    text-decoration: none;
    white-space: normal;
    color:$fontColor;
    font-size: $fontSize; 
}
@mixin flexDirection($input) {
    flex-direction:$input;
}
@import "node_modules/bootstrap/scss/bootstrap";

/*main css start form here*/
body{
    overflow-x: hidden;
}
#main-header{
    @include textprop(170%, #0a556b);
    text-shadow: 5px 4px 5px #aeaebf;
}
#carouselExampleControls img{
    width: 90%;
}
#main-navbar{
    background: #2974ce;
   .nav-item {
        @include flexScreen(42%);
        border-right: 1px solid $white;
        @include textprop(16px,$link-color);
        a{
            color:$link-color;
        }
    }
    .nav-item:last-child{
        border:0;
    }
}
main{
    margin-top: 80px;
}
.main-box-section{
    border: 1px solid#cef1ce;
}
.section-header{
    @include textprop(24px,$link-color);
}
#digiCarousel{
    .carousel-caption{
        background: lightgrey;
        color:#111;
        opacity: 0.8;
    }
}
.readMoreLink{
    text-decoration: none;
    float: right;
}
.second-box-section{
    @include flexScreen(49.8%);
    border-radius: 5px;
     ul{
         @include textprop(16px,$link-color);
    }
    .btn-link{
        @include textprop(16px,$link-color);
    }
}

.blockquote{
    border: 0;
    .blockquote-footer{
        color:#111;
    }
}
#second-box-section-tab li{
    @include flexScreen(50%);
}
.ideas-box-section,.bottom-box-section{
     h3{
         @include textprop(20px, #0070c9);
    }
    img{
        width: 100%;
        padding: 5px;
        border-radius: 10px;
    }
}
.footer-box-section,.ideas-box-section{
    @include flexScreen(33.2%);
    border-radius: 5px;
    background: whitesmoke;
}
.form-icon{
    @include textprop(25px, $white);
    background: #0d8ef5;
    padding: 6px 0;
    float: left;
    width: 40px;
}
.social-link li{
    display: inline-block;
    width: 37px;
    border-radius: 50%;
    margin-right: 5px;
    padding: 4px;
    @include textprop(20px, $white);
}
.social-link li:nth-child(1){
background: #3b5998 ;
}
.social-link li:nth-child(2){ 
	background: #00aced ;
}
.social-link li:nth-child(3){
	background: #bb0000   ;
}
.social-link li:nth-child(4){
	background: #007bb6 ;
}
.social-link li:nth-child(5){ 
	background: #cb2027 ;
}

/* media query for bleo 900 px*/
@media (max-width:1200px) {
    .quates-box-section,.ideas-box-section{
        @include flexScreen(33.3%);
    }
}
  @media (max-width:900px){
    .second-box-section, .footer-box-section{
        @include flexScreen(100%);
        border:0;
    }
    #second-section .nav-link{
        padding:.5rem;
    }
    .footer-section{
        @include flexDirection(column !important);
    }
}
/* media query for bleo 580 px*/
@media (max-width:580px){
    .bottom-box-section,.quates-box-section,.ideas-box-section{
        @include flexScreen(100%);
    }
  }